#basket{
    border: 1px solid blue;
    border-radius: 4px;
    color: black;
    background-color: #ffff66;
    text-align: center;
    padding: 5px;

    transition: .6s;
    
   
    font-size: 15px;
    width: 130px;
    opacity: 0.5;
    height: 37px;
  


}
#input{
transition: .5s;
    opacity: 0.5;
    border: 1px solid blue;
}
#input:hover{

    box-shadow: 0 4px 8px 2px rgb(102, 102, 255), 0 6px 20px 0 rgb(102, 102, 255);

}
#basket:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 9px rgba(0, 230, 0, 0.2), 0 6px 20px 0 rgba(0, 230, 0, 0.19);
    background: #ffffcc;
    cursor: pointer;
    
}