#button{
    
    background: none;
    color:#cc0000;
    width:35px;
    height: 35px;
    
    
    border: 1px solid #cc0000;
    border-radius: 6px;
    transition: .6s;
    font-size: 20px;
    
    overflow: hidden; 
    }
   
    #button:hover{
        background: #cc0000;
        cursor: pointer;
        color: white;
    }
   